# Python Crash Course Assignment: List

The best way we learn anything is by practice and exercise questions. We have started this section for those (beginner to intermediate) who may or maynot familiar with Python.

There are multiple ways to solve any given problem. Best way to learn is to come up with every possible way.

### List

A list is a container which holds comma-separated values (items or elements) between square brackets where items or elements need not all have the same type.

**Examples:**
* integers = [10, 20, 30, 40, 50]
* names = ["Sara", "David", "Warner", "Sandy"]
* student_info = [("Sara", 1, "Chemistry"),("David","2","Physics")] #List of tuples

**1. Write a Python function to multiply all the number in a given list**

**Sample list : [1,2,3,4]**

**Output : 24**

In [2]:
n = 1
l = [1,2,3,4]

for i in l:
    n *= i
    
print(n)

24

**2. Write a Python function to reverse a string.**

**Sample string: "abcd"**

**Output : "dcba"**

In [3]:
s = "abcd"
print(s[::-1])

dcba

**3. Write a Python function that takes a list and returns a new list with unique elements of the first list.**

**Sample list: ['a','b','c','e','c','z','a','j','b','d','z']**

**Output list: ['a', 'b', 'c', 'e', 'z', 'j', 'd']**

In [4]:
l2 = []
l1 = ['a','b','c','e','c','z','a','j','b','d','z']

for i in l1:
    if not i in l2:
        l2.append(i)
        
print(l2)

['a', 'b', 'c', 'e', 'z', 'j', 'd']

**4. Write a Python program to remove duplicates from a list. Also print the unique list values**

**Sample List: [10,20,30,20,10,50,60,40,80,50,40]**

**Sample Output:**

* Duplicate items: {40, 10, 80, 50, 20, 60, 30}   
* Unique itmes:[10, 20, 30, 50, 60, 40, 80]**

In [19]:
l = [10,20,30,20,10,50,60,40,80,50,40]
m = []
n = set()

for i in l:
    if i not in m:
        m.append(i)

for i in l:
    n.add(i)
        
print(n)
print(m)

{40, 10, 80, 50, 20, 60, 30}
[10, 20, 30, 50, 60, 40, 80]

**5. Write a Python function that takes two lists and returns True if they have at least one common member.**

**Sample value:**
* A = [1,2,3,4,5]
* B = [5,6,7,8,9]

**Sample Output:True**

In [6]:
A = [1,2,3,4,5]
B = [5,6,7,8,9]

for i in A:
    if i in B:
        print(True)
        break

True

**6. Write a Python program to replace the last element in a list with another list..**

**Sample value:**
* A = [1, 3, 5, 7, 9, 10]
* B = [2, 4, 6, 8]

**Sample Output:[1, 3, 5, 7, 9, 2, 4, 6, 8]**

In [5]:
A = [1, 3, 5, 7, 9, 10]
B = [2, 4, 6, 8]
c = []

for i in A:
    c.append(i)
for i in B:
    c.append(i)
    
print(c)

[1, 3, 5, 7, 9, 10, 2, 4, 6, 8]